
.container{
    font-family: "poppins";
    padding: 1.2rem;
}
.mainContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    gap: 4rem;
    padding-inline: 2rem;
    height: 80vh;
    
}
.mainContainer_left{
    flex: 0.9;
}
.mainContainer_right{
    flex: 0.5;
}
.mainContainer_left > p:nth-child(1){
    font-size: 2.9rem;
    background: -webkit-linear-gradient(45deg, #060dc8, #d55c16);
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 600;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
}
.mainContainer_left > p:nth-child(2){
    font-size: 1.7rem;
    color: #4d4d4d;
}

.mainContainer_left > div.buttonJoin{
    width: fit-content;
    cursor: pointer;
    user-select: none;
    margin-top: 1.5rem;
    transition: all 0.3s ;
    font-size: 1.5rem;
    background:#162ea5;
    color: white;
    padding: 0.7rem 1.5rem;
    border-radius: 0.4rem;
    &:hover{
        background: #160599;
    }           
}