.container{
    display: flex;
    justify-content: center;
    height: 90svh;
    align-items: center;
    background-color: #fbffe8 ;
}
.cardContainer {
    height: 80vh;
    display: flex;  
    justify-content: center;
    overflow: hidden;
    width: 80vw;
    background: white;
    /* align-items: center; */
    border-radius: 10px;
    box-shadow: 10px  10px 30px rgba(0, 0, 0, 0.1)  ;
}


.cardContainer_left {
    flex:0.6;
    padding: 2rem;
    text-align: center;
}
    .cardHeading{
        font-size: 1.5rem;
        font-weight: bold;
    }
    .inputField{
        width: 100%;
        padding: 0.5rem;
        margin: 1rem 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
    }
    .inputRow{
        display: flex;
        justify-content: center;
        gap: 1rem;
        width: fit-content;
    }
    .inputContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        width: 100%;
        justify-content: center;
        padding-top: 2rem;
        max-width: 400px;
        margin: 0 auto ;

    }
    .buttonWithOutline{
        font-weight: bold;
        font-size:x-large;
        background-color: transparent;
        border: none;
        color: rgb(0, 60, 128);
        cursor: pointer;
        font-size: 1rem;
        margin-top: 1rem;
        background-color: rgb(234, 232, 232);
        margin: 12px;
        padding: 15px;
        border-radius: 25px;
        width: 100%;
        cursor: pointer;
    }
.cardContainer_right {
    flex:0.4;
    height: 100%;
    background-color: #044e9c;
    color: white;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
   
}

.accButton{
   background-color: rgb(255, 255, 255);
    margin-top: 10px;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    
}